* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f4e4ba;
}

.container {
    background-color: #fff;
    padding: 2rem;
    border-radius: 1rem;
    min-height: 50vh;
    width: 27vw;
}   

.heading {
    font-weight: 600;
    color: brown;
}

.para {
    color: grey;
    font-size: 18px;
}

form {
    margin: 2rem 0 1rem 0;
}

form select,
input,
button {
    width: 100%;
    border: none;
    outline: none;
}

form input {
    height: 2rem;
    font-size: 1rem;
    padding-left: 10px;
    border: 1px solid #c5b07a;
    border-radius: 0.5rem;
}

.dropdown {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 2rem;
}

.select-container img {
    max-width: 2.8rem;
}

.select-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 6rem;
    border-radius: 0.5rem;
    border: 1px solid bisque;
}

.select-container select {
    font-size: 1rem;
    width: auto;
}
.msg{
    margin: 2rem 0 2rem 0;
}
.btn{
    background-color: #af4d98;
    height: 3rem;
    color: #fff;
    font-size: 1.15rem;
    border-radius: 0.5rem;
    cursor: pointer;
    /* font-weight: bold; */
}